*{
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

h1,h2,h3,h4,h5,h6,p,figcaption,a{
	font-family: sans-serif;
}

figure {
	display: inline;
}

.container {
	width: 95%;
	margin: 0 auto;
	padding: 30px;
	background-color: #bbb;
}

.rosa {	background-color: #ffd2ff;}
.azul {	background-color: #d2e9ff;}
.verde {background-color: #d3ffd2;}
.amarillo {background-color: #ffffd2;}

.logo {

}

nav {
	float: right;
}
nav ul li {
	float: left;
	list-style-type: none;
	margin: 1%;
}

.quiensoy {

}

.qsimg {
	width: 100px;
	height: 100px;
	float: left;
}
.qstext {
	width: 50%;
	float: left;
}

.qsrrss {

}

.slider {
	background-color: #;
}

.servicios {

}
.svc {
	width: 30%;
	float: left;
}
.svcimg {

}
.svctxt {
	float: left;
}

img.desaturate { 
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
}

img.desaturate:hover { 
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);

}

img.huerotate { 
	-webkit-filter: hue-rotate(180deg);
	filter: brightness(500%); 
}

img.huerotate:hover { 
	-webkit-filter: hue-rotate(180deg);
	filter: brightness(-900%); 
}

img.slider { 
	width: 1480px;
	height: 340px;
	margin: 0 0 60px 0;
	border: solid;
	border-color: #ffffff;
	border-width: 1px;
 }


.socialmedia {
	margin: 30px 0 0 0;
	float: right;
}

.rrss {
	margin:0 5px;
}

a { 
	text-decoration: none;
}

.clearfix {
	clear: both;
}
