/*

*{margin:0;}
FUNDAMENTALLLLL
- setear esto para normalizar todos los margenes (llevarlos a 0 y que no dependa de los márgenes que le da cada navegador)
- Hay hojas de estilo que se pueden descargar y tienen listas las configuraciones más comunes: Normalize.CSS de Falcon Masters
- Como las hojas de estilo se pueden usar en cascada, el normalize se linkea 1º. Además, si quiero, así puedo pisar la regla. 

*/
*{
	margin:0;
	box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6,p,figcaption,a{
	font-family: sans-serif;
}

.wrap {
	margin: 0 auto;
	width: 95%;	
}

.header {
	background-color: #111111;	
	text-align: center;
	padding: 1%;
}
/* CÓMO HAGO PARA QUE ME QEDEN LOS GATITOS PEGADOS A LOS COSTADOSNDSJAGBLFASDC 
header img.img1 {
	float: left;
}
*/
nav {
	display: block;
	text-align: center;
	padding: 1%;
	margin: 0 auto;
}

nav a {
	background-color: #ffc186;
	color: #ffffff;
	font-weight: bold;
}

nav ul li {
	display: inline-block;
	margin: 5px;
}
/*la prop. de Display NO SE HEREDA, entonces no puedo aplicarlo a ul solo*/

section {
	margin: 0 auto;
	padding: 0% 2% 2% 2%;
}

h1 {
	color: #eeeeee;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25%;
	margin-right: 25%;
/*text-align: no anda siempre*/

}

section article {
	display: inline-block;
}

.img1{
	width: 70px;
	vertical-align: middle;
}

.img2{
	width: 120px;
	vertical-align: middle;
}

.img3 {
	width: 70px;
	float: right;
} 

.rosa.ancho {
	width: 49.5%;
	height: 200px; /* no me funciona OK si pongo % en lugar de px*/
}

.azul.ancho {
	width: 100%;
	height: 100px; 
	
}

.verde.ancho {
	width: 33%;
	height: 200px; 

}

footer { 
	background-color: #ffffd2;	
	padding: 1%;
}

.rosa {	background-color: #ffd2ff;}
.azul {	background-color: #d2e9ff;}
.verde {background-color: #d3ffd2;}

.maincontainer {
	width: 90%;
	margin: 0 auto;
	background-color: #bbbbbb;
}

/*  MEDIA QUERIES */

@media all and (max-width: 480px) and (orientation:portrait) {

	.maincontainer {
		width: 100%;
	}

	.wrap {
		width: 100%;
	}

	h1 {
		margin: 10px;
	}
	nav {
		text-align: right;
		position: fixed;
		top: 20%;
		right: 0;
	}

	nav ul li {
		display: block;
		margin: 0;
	}

	section { 
		margin: 10px; 
	}
	
	.rosa.ancho {
		width: 100%;
		display: block;
		clear: both;
	}
	.rosa.ancho.right {
		display: none;
	}

	.azul.ancho {
		width: 100%;
		display: block;
	}

	.verde.ancho{
		display:none;		
	}
	.img3 { 
	 	display: none;
	}

	.imgright {
		display: none;
	}

}