*{
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #dddddd;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;

}

nav, footer,.banner, .sidebar, .bodyarea, .logo {
	background-color: #bbbbbb; 
	margin-top: 10px;
}

nav, .banner, .logo { 
	width: 100%;
 }

 .sidebar {
 	width: 30%;
 	float: left;
 }

 .bodyarea{
 	width: 65%;
 	float: right;
 }

.maincontainer {


}

.clear {
	clear: both;
}

footer {
	width: 100%;
	margin-top: 10px;
}