/*
This is a comment
*/

body{
	width: 100%;
	background: #FFFFFF;
}


div {
	
}

header {
	size: 75%;
	align-content: right;
}

h1 {

}

p{
	width: 75%;
}

img{
	
}


.container{
	margin-left: 50%;

}

.breadcrumbs{

}

.imagen{

}

.texto{
	size: 70%;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-style: normal;

}

.epigrafe{
	size: 75%;
}

.fecha{

}

