h1 {
	font-family: 'Indie Flower', cursive;
}

/*nav {
	list-style: none;
}*/


.barramenu {
	background-color: #fee2d9;	
}

.menu {
	
}

.submenu {
	
}

.destacada {
	width: 80%;
}
 
figcaption {
	background-color: #fee2d9;
}