/* EJEMPLO
div {
	background-color: #ddd;
	width: 200px;
	&:hover {
		background-color: #333;
	}

}
*/
* {
  box-sizing: border-box;
}
div {
  height: 200px;
  float: left;
}
.container {
  width: 800px;
}
.caja1 {
  padding: 10px;
  display: inline-block;
}
.caja1:nth-child(1) {
  margin-right: 10px;
  background-color: peru;
}
.caja1:nth-child(1):hover {
  background-color: plum;
}
.caja1:nth-child(2) {
  background-color: yellow;
}
.caja1:nth-child(2):hover {
  background-color: palegreen;
}
.caja2 div {
  background-color: #eaff00;
}
.caja2 {
  padding: 10px;
  display: inline-block;
}
