/*
This is a comment
*/

body{
	background: #f1f4f7;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-style: normal;
}


div {
	float: left;
	width: 45%;
	margin: 5px;
	border-style: dashed;
	border-color: #dddddd;

}

h1,h2 {
	font-size: 1.3em;
	color:#333;
}

h1 {
	background-color: #ffffff;
}

h2{
	font-size: 1em;
}
/* el sentido de lectura es de arriba para abajo, por lo que el nav se queda con el último dato (el de h2: 1em). Es decir lo último pisa a lo más general.
*/
img{
	width: 50%;
}

a {
	background-color: #ffffff;
	color:#;
}

#destacado {
	background-color: #d1dbe4;
}

#destacado_sutil {
	background-color: #e1e7ee;
}

