* { 
	box-sizing: border-box;
	/*outline: 1px solid magenta !important;*/
	margin: 0;
	font-family: sans-serif;
	
}

h1 {
	font-size: 1.5em;
	margin: 0.3em;
}

h2 {
	font-size: 1em;
}

h3 {
	font-size: 0.8em;
}
p, a {
	font-size: 0.8em;

}

a {
	text-decoration: none;
}
.container {
	width: 95%;
	margin: 0 auto;
	padding: 1em;
	background-color: #eee;
}

#infoPersonal , #datosPerfil {
	width: 30%;
	padding: 1em;
	float: left;
	display: flex;
	flex-direction: column;
}
#infoPersonal h1, p {
	align-self: center;
}

#infoPersonal p {
	text-align: center;
}

.profilePic {
	width: 150px;
	height: 150px;
	align-self: center;

}

#ultimosPosts, #muro {
	width: 70%;
	padding: 0.5em 1em 1em 2em;
	float: left;
	display: flex;
	flex-direction: column;
}

.post {
	width: 100%;
	margin-bottom: 1em;
}

.postPic {
	margin-right: 0.5em;
	float: left;
}

#userPics, #amigosDiv {
	width: 30%;
	padding: 1em;
	float: left;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.5em;

}
.userPic {
	width: 70px;
	height: 70px;
}
.vermas {
	float: right;
}

#updatePost, #estado {
	width: 70%;
	padding: 0.5em 1em 1em 2em;
	float: left;
}

.boton {
	background-color: #333;
	color: #fff;
	margin-top: 0.5em;
	padding: 0.3em;
	float: right;
}

.clearfix {
	clear: both;
}

/*
MEDIA QUERIES
*/
@media (max-width: 700px) {
    
    #infoPersonal, #ultimosPosts, #userPics, #updatePost {
        width: 100%;
       	clear: both;
    }

/*cómo cambio el orden para que se muestre 1, 4, 2 y 3? (flexbox?)*/

}