
.container {
	
}

a:hover {
	text-decoration: none;
}

/*HEADER*/
header h1{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 72px;
	margin-top: 0;
}
.redes {
	margin-left: 10px;
}
.redes:hover{
	-webkit-filter: hue-rotate(180deg);
	filter: brightness(-900%); 
}

.logo {

}

/*NAV*/
nav {
	float: right;
}
.nav {
	color: #333;
}

.dropdown-menu {
	background-color: #CEE891;
}
.nav-pills  li {
	background-color: #E1F5C4;
}
.nav-pills ul li:hover {
	background-color: #BADA5F;
}
ul li {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 2em;

}



/*SLIDER*/
.carousel-caption h2{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 72px;
}

/*NOTAS DESTACADAS*/
.destacadas {
	display: flex;
	flex-direction: column;
}
.destacadas h3 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 2em;	
	text-align: center;
	background-color: #cee891;
	padding: .2em 0;
}
.thumbs {
	align-self: center;
}


/*FOOTER*/
h4 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 2em;
}
.footer {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.social {
	float: right;
}